<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        img {
            object-fit: contain;
            max-width: 100%;
        }

        .primary-image {
            height: 300px;
        }

        .images {
            height: 150px;
        }
    </style>


</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row py-3">
                <div class="col-md-6">
                    <h2>產品列表</h2>
                    <table class="table table-hover mt-4">
                        <thead>
                            <tr>
                                <!-- <th width="150">產品圖片</th> -->
                                <th width="150">產品名稱</th>
                                <th width="120">
                                    原價
                                </th>
                                <th width="120">
                                    售價
                                </th>
                                <th width="150">
                                    是否啟用
                                </th>
                                <th width="120">
                                    查看細節
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item) in products" :key="item.id">
                                <!-- <td width="150" img:src="item.imageUrl" ><img v-bind:src="item.imageUrl" class="card-img-top primary-image" alt="主圖"></td> -->
                                <td width="150">{{ item.title }}</td>
                                <td width="120">
                                    {{ item.origin_price }}
                                </td>
                                <td width="120">
                                    {{ item.price}}
                                </td>
                                <td width="150">
                                    <!-- 有同學做出 checkbox，跟著做一次 -->
                                    <div class="form-check form-switch">
                                        <input type="checkbox" class="form-check-input" :id="item.id"
                                            v-model="item.is_enabled" :true-value="1" :false-value="0">
                                        <label class="form-check-label" :for="item.id"></label>
                                        <!-- 使用 v-if / v-else 判斷是否啟用 -->
                                        <span class="text-success" v-if="item.is_enabled">啟用</span>
                                        <span class="text-danger" v-else>未啟用</span>
                                    </div>
                                </td>
                                <td width="120">
                                    <!-- 觸發監聽事件 v-on click 將原本的 item 賦予到空物件的變數 temp -->
                                    <button type="button" v-on:click="openProduct(item)"
                                        class="btn btn-primary">查看細節</button>
                                </td>
                                <td width="120">
                                    <!-- 觸發監聽事件 v-on click 將原本的 item 賦予到空物件的變數 temp -->
                                    <button type="button" v-on:click="deleteItem(item)"
                                      class="btn btn-outline-danger">刪除產品</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>目前有 <span>{{ products.length }}</span> 項產品</p>
                </div>
                <div class="col-md-6">
                    <h2>單一產品細節</h2>
                    <!-- 判斷如果是這個標題就開啟卡片 -->
                    <!-- 這段有點不理解 template 用法-->
                    <template v-if="tempProduct.title">
                        <div class="card mb-3">
                            <img v-bind:src="tempProduct.imageUrl" class="card-img-top primary-image" alt="主圖">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ tempProduct.title }}
                                    <span class="badge bg-primary ms-2">{{ tempProduct.category }}</span>
                                </h5>
                                <p class="card-text">商品描述：{{ tempProduct.description }}</p>
                                <p class="card-text">商品內容：{{ tempProduct.content }}</p>
                                <div class="d-flex">
                                    <p class="card-text me-2">{{ tempProduct.price }}</p>
                                    <p class="card-text text-secondary"><del>{{ tempProduct.origin_price }}</del></p>
                                    {{ tempProduct.unit }} / 元
                                </div>
                            </div>
                        </div>
                        
                        <template v-for="(image, id) in tempProduct.imagesUrl" :key="id">
                            <!-- 圖片數量使用 v-for 迴圈來載入，v-if / v-else 來依照選擇顯示畫面 -->
                            <img v-if="image" :src="image" :alt="`多圖 ${id+1}`" class="images m-2">
                        </template>
                    </template>
                    <!-- 用 v-if 來載入畫面，資料沒有 tempProduct.title 就顯示以下文字-->
                    <p v-else class="text-secondary">請選擇一個商品查看</p>
                </div>
            </div>
        </div>
    </div>
    <!-- axios JavaScript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js'
        integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=='
        crossorigin='anonymous'></script>
    <!-- Bootstrap JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <!-- type="module" 要記得加入 -->
    <script type="module" src="./javascript/products.js"></script>
</body>

</html>